<div class="card-flex">
	<div class="card-flex-item">
		<div class="card-flex-wrapper">
			<div class="card-flex-image">
				<img src="" alt="img placeholder">
			</div>
			<div class="card-flex-content">
				<h3>First</h3>
				<p>I'm a card and I'm first</p>
				<a href="#" class="card-flex-button">Button</a>
			</div>
		</div>
	</div>
	<div class="card-flex-item">
		<div class="card-flex-wrapper">
			<div class="card-flex-image">
				<img src="" alt="img placeholder">
			</div>
			<div class="card-flex-content">
				<h3>First</h3>
				<p>I'm a card and I'm first</p>
				<a href="#" class="card-flex-button">Button</a>
			</div>
		</div>
	</div>
	<div class="card-flex-item">
		<div class="card-flex-wrapper">
			<div class="card-flex-image">
				<img src="https://placeimg.com/640/480/nature" alt="img placeholder">
			</div>
			<div class="card-flex-content">
				<h3>First</h3>
				<p>I'm a card and I'm first</p>
				<a href="#" class="card-flex-button">Button</a>
			</div>
		</div>
	</div>
</div>